<mat-toolbar class="mat-typography menu" color="primary" #toolbar>
    <div class="container">
        <div id="leftButtons">
            <button mat-button routerLink="/home" routerLinkActive="active">
                <mat-icon>home</mat-icon>
            </button>
            <button mat-button routerLink="/tecnologias" routerLinkActive="active">Tecnologias</button>
            <button mat-button routerLink="/acceso" routerLinkActive="active">Solicita acceso</button>
        </div>
        <div class="separator" id="separator"></div>
        <div id="rightButtons">
            <button class="botonLogin"mat-button class="menuText" (click)="abrirDialogoLogin()">Contenido limitado</button>
        </div>
    </div>
</mat-toolbar>