.menu{
    height: 50px;
    padding:0px
}

.container{
    display:flex;
    flex:1;
    flex-direction: row;
    padding: 0px;
    margin:0px;
    max-width: -webkit-fill-available;
}
.separator{
    flex-grow: 1;
}

.menuText{
    box-sizing: border-box;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* cursor: pointer; */
    outline: 0;
    border: none;
    -webkit-tap-highlight-color: transparent;
    display: inline-block;
    white-space: nowrap;
    text-decoration: none;
    vertical-align: baseline;
    text-align: center;
    margin: 0;
    min-width: 88px;
    line-height: 36px;
    padding: 0 16px;
    border-radius: 2px;
    overflow: visible;
    font-size: 14px;
    font-weight: 500;
    padding: 0px;
}

#rightButtons{
    margin-right: 16px;
}
.botonLogin{
    padding-left: 16px;
    padding-right: 16px;
}